<div id="advisory-note">
    <strong>Please note:</strong> this is a previously owned authentic item. Some wear and imperfections may be present. Please see item photos and description for more details.
    <br><br>Question about this item? Our advisors are here to help Monday through Saturday 10am - 6pm PST: <strong>1-800-337-4056</strong>. 
    
    <br><br>Ships in 1 business day<br><a title="Delivery Information" href="http://www.modaselle.com/delivery-and-returns/"> Shipping and Delivery information </a>
    <br><br><strong>Condition Grades</strong>         
        <br><u>Like New:</u> Item shows no visible wear. 
        <br><u>Excellent:</u> Item shows faint wear.
        <br><u>Very Good:</u> Item shows light wear.
        <br><u>Good:</u> Item shows some signs of wear and use.
        <br><u>Fair:</u> Item shows significant wear and use.

</div>