<div id="advisory-note">
    <strong>Please note:</strong> All previously owned fine jewellery pieces have been professionally refinished and come in excellent condition unless otherwise stated in the description.  <br>Included: Certified Gemologist Appraisal
    <br><br>Question about this item? Our advisors are here to help Monday through Saturday 10am - 6pm PST: <strong>1-800-337-4056</strong>. 
    
    <br><br>Ships in 1 business day<br><a title="Delivery Information" href="http://www.modaselle.com/delivery-and-returns/"> Shipping and Delivery information </a>

</div>